﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary-color: #051250;
    --white-color: #ffffff;
    --black-color: #000000;
    --green-color: #179a17;
    --red-color: #d00a0a;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.remove-btn {
    box-shadow: none;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 3px;
    padding: 2px 8px;
}

.add-btn {
    box-shadow: none;
    border: 1px solid var(--green-color);
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 3px;
    padding: 2px 8px;
}

.ventilation-monitor tbody tr td input.table-nums {
    max-width: 70px;
    text-align: center;
    border-radius: 2px;
}


.ventilation-monitor tbody tr td input {
    padding: 4px 10px;
    font-size: 14px;
    color: #252525;
}


.ventilation-monitor tbody tr td input {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
}

.ventilation-monitor tbody tr td,
.ventilation-monitor thead tr th,
.ventilation-monitor tfoot tr td {
    text-align: center;
}

.ventilation-monitor tbody tr td,
.ventilation-monitor thead tr th,
.ventilation-monitor tfoot tr td {
    padding: 11px;
}

.ventilation-monitor table {
    width: 100%;
}

.remove-drop .dropdown-menu {
    padding: 0;
}

.remove-drop .dropdown-menu {
    padding: 0;
    min-width: 30px;
}

.remove-drop .dropdown-menu a {
    cursor: pointer;
    border: 1px solid red;
    padding: 2px 6px;
    text-align: center;
    font-size: 15px;
}

.ventilation-monitor thead tr th {
    color: var(--primary-color);
}

.lead-head {
    margin-bottom: 22px;
    color: var(--primary-color);
}

.custom-navigation {
    background-color: var(--primary-color);
    color: #fff;
}

.custom-navigation a {
    color: var(--white-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}