﻿@model VentilationMonitor

<tr data-equip-id="@Model.EquipmentId">
    <td>
        <input type="text" class="unit-ventilation" value="@Model.EquipmentName" onchange="UpdateEquipment(this,@Model.EquipmentId)" />
    </td>

    @if (Model.LstEquipmentVentilationDetails != null)
    {
        foreach (var equipmentVentilationDetails in Model.LstEquipmentVentilationDetails)
        {
            <td>
                <input type="number" class="table-nums" name="" data-equip-id="@Model.EquipmentId" data-dept-id="@equipmentVentilationDetails.DepartmentId"
                       data-ventilation-id="@equipmentVentilationDetails.ID"
                       min="0" step="1" value="@(equipmentVentilationDetails.Capacity==0 ? "":equipmentVentilationDetails.Capacity.ToString())"
                       onchange="SaveUpdateEquipmentCapacity(this)" />
            </td>
        }
    }
<td>
    <div class="dropdown remove-drop">
        <button class="remove-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick="DeleteEquipment(this,@Model.EquipmentId)">Remove Row</a>
        </div>
    </div>

   
</td>
</tr>