﻿@model VentilationMonitorModel
@{
    ViewData["Title"] = "Index";
}


<div class="table-responsive ventilation-monitor">
    <table class="table-bordered" id="tblVentilationMonitor">
        <thead>
            <tr>
                <th>
                    Unit
                </th>
                @if (Model != null && Model.LstDepartments != null)
                {
                    foreach (var department in Model.LstDepartments)
                    {
                        <th>
                            @department.Name
                        </th>
                    }
                }
                <th>

                </th>
            </tr>
        </thead>
        <tbody>

            @{
                string strEmptyTr = "";

                if (Model != null && Model.LstVentilationMonitor != null)
                {

                    foreach (var equipment in Model.LstVentilationMonitor)
                    {
                        Html.RenderPartial("_VentilationEquipmentRow", equipment);
                    }
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <input type="button" class="add-btn" name="name" value="+" title="Add Ventilation Equiment" onclick="addNewVentilationEquiment(this)" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                @if (Model != null && Model.LstDepartments != null)
                {
                    foreach (var department in Model.LstDepartments)
                    {

                        <td data-dept-id="@department.ID">
                            <span data-vent-type="curr_reading">0</span>/<span data-vent-type="capacity">@department.VentilationCapacity</span>
                        </td>
                    }
                }
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<style>
    .ventilation-warning {
        color: red;
    }
</style>
@section Scripts{
    <script type="text/javascript">

        /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function RemoveEquipmentDropdown($this) {
            $this.find("div.removeEquipmentDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function parseToInt(num) {
            num = parseInt(num);
            num = isNaN(num) == true ? 0 : num;
            return num;
        }

        function calculateTotalVentilation() {
            var $tbl = $('#tblVentilationMonitor');
            var totalReading = {};

            $tbl.find('tbody tr[data-equip-id]').each(function () {
                var $tr = $(this);
                $tr.find('input[data-dept-id]').each(function () {
                    var $input = $(this);
                    var deptId = $input.attr('data-dept-id');

                    totalReading[deptId] = parseToInt(totalReading[deptId]) + parseToInt($input.val());
                });
            });

            var deptIds = Object.keys(totalReading);
            var $trfoot = $tbl.find('tfoot tr');
            if (deptIds.length > 0) {
                for (var i = 0; i < deptIds.length; i++) {
                    var $td = $trfoot.find('td[data-dept-id="' + deptIds[i] + '"]');
                    $td.find('span[data-vent-type="curr_reading"]').text(totalReading[deptIds[i]]);

                    var capacity = parseToInt($td.find('span[data-vent-type="capacity"]').text().trim());

                    if (parseToInt(totalReading[deptIds[i]]) > capacity) {
                        $td.addClass('ventilation-warning');
                    } else {
                        $td.removeClass('ventilation-warning');
                    }
                }
            }
            else {
                $trfoot.find('td[data-dept-id]').each(function () {
                    var $td = $(this);
                    $td.find('span[data-vent-type="curr_reading"]').text(0);
                    $td.removeClass('ventilation-warning');
                });

            }
        }

        function addNewVentilationEquiment($this) {
            var $tbl = $('#tblVentilationMonitor tbody');
            $.ajax({
                url: '/VentilationTrack/AddNewEqupimentRow',
                type: 'POST',
                success: function (response) {
                    if (response != null) {

                        $tbl.append(response);
                    }
                }
            });

        }

        function DeleteEquipment($this, equipmentId) {
            $.ajax({
                url: '/VentilationTrack/DeleteEqupimentRow',
                type: 'POST',
                data: { 'equipmentId': equipmentId },
                success: function (response) {
                    if (response) {
                        $($this).closest('tr').remove();
                        calculateTotalVentilation();
                    }
                }
            });
        }

        function UpdateEquipment($this, equipmentId) {
            var equipmentName = $($this).val();
            $.ajax({
                url: '/VentilationTrack/SaveUpdateEquipment',
                type: 'POST',
                data: { 'equipmentId': equipmentId, 'equipmentName': equipmentName },
                success: function (response) {

                }
            });
        }

        function SaveUpdateEquipmentCapacity($this) {
            $this = $($this);
            var capacity = parseToInt($this.val());
            var equipmentId = $this.attr('data-equip-id');
            var departmentId = $this.attr('data-dept-id');
            var ventilationId = $this.attr('data-ventilation-id');
            $.ajax({
                url: '/VentilationTrack/SaveUpdateEquipmentCapacity',
                type: 'POST',
                data: { 'equipmentId': equipmentId, 'departmentId': departmentId, 'ventilationId': ventilationId, 'capacity': capacity },
                success: function (response) {
                    if (response && ventilationId == 0) {
                        $this.attr('data-ventilation-id', response.ventilationId);
                    }
                    calculateTotalVentilation();
                }
            });
        }


        calculateTotalVentilation();
    </script>
} 